.container-header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ok {
  color: var(--green-600);
  font-weight: 400;
}
.renew {
  color: var(--orange-600);
  font-weight: 400;
}
.overdue {
  color: var(--red-600);
  font-weight: 400;
}

.container-students-situation {
  padding: 1.5rem;
  background-color: var(--gray-950);
  color: var(--gray-50);
  width: 250px;
  position: relative;
  top: 0;
  border: 0;
  border-radius: 4px;

  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }
}



.container-total-values-students {
  padding: 1.5rem;
  background-color: var(--gray-950);
  color: var(--gray-50);
  width: 300px;
  position: relative;
  top: 0;
  border: 0;
  border-radius: 4px;

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  
  p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.money {
  color: var(--green-600);
}

.students-container {
  width: 97%;
  max-width: 1440px;
  padding: 1rem;
  background-color: var(--gray-50);
  margin: 0 auto;
  position: relative;
  top: 4rem;
  height: 900px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.students-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 4px 0 4px 0;
  padding: 0.5rem;

  button {
    background-color: var(--green-600);
    color: var(--gray-50);
    padding: 0.75rem;
    border: 0;
    border-radius: 4px;
  
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      transition: 0.2s;
      background-color: var(--green-700);
    }
  }
}

.students-line {
  width: 100%;
  height: 1px;
  background-color: black;
}



.form-filter {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;

  .input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

    input {
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 14px;
    }

    button {
      width: 100px;
      height: 40px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      color: #000;
      font-size: 14px;
      cursor: pointer;
    }
    
  
  }

  .button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    gap: 0.75rem;

    button {
      width: 150px;
      height: 40px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      color: #000;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}



@media screen and (max-width: 1024px) {
  .modal-layer {
    height: 115vh;
  }

  .container-students-situation {
    padding: 0.75rem;
    background-color: var(--gray-950);
    color: var(--gray-50);
    width: 125px;
    position: relative;
    top: 55px;
  }

  .container-students-situation h2 {
    font-size: 0.875rem;
  }

  .container-students-situation p {
    font-size: 0.75rem;
  }

  .container-total-values-students {
    padding: 0.75rem;
    background-color: var(--gray-950);
    color: var(--gray-50);
    width: 150px;
    position: relative;
    top: 55px;
  }
  
  .container-total-values-students h2 {
    font-size: 0.875rem;
  }
  
  .container-total-values-students p {
    font-size: 0.75rem;
  }
}